<template>
	<div class="page no-navbar no-toolbar no-swipeback">

		<div class="page-content">

			<div class="walkthrough">
				<div class="swiper-container walkthrough-container">

					<div class="swiper-wrapper walkthrough-wrapper">

						<div class="swiper-slide walkthrough-slide">
							<div class="slide-title">Welcome to Hive</div>
							<div class="slide-media">
								<img class="theme-light-only" src="{{$root.config.app.logo}}" width="128" alt="" />
								<img class="theme-dark-only" src="assets/custom/img/logo-white.svg" width="128" alt="" />
							</div>
							<div class="slide-text">Mobile Web App </div>
							<div class="slide-actions">
								<button class="button button-big button-fill button-round" data-i18n="next" @click="addtohome">Next</button>
							</div>
						</div>

						<div class="swiper-slide walkthrough-slide page-content">
							<div class="slide-title">Login</div>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-after">

										<div class="block text-align-center">
											<img class="theme-light-only" src="{{$root.config.app.logo}}" width="128" alt="" />
											<img class="theme-dark-only" src="assets/custom/img/logo-white.svg" width="128" alt="" />
										</div>
										<div id="loginerror" class="item-input-info input-error-message"></div>

										<form  id="loginform" name="signup" action="#" method="POST" enctype="multipart/form-data">
											<div class="list no-hairlines no-hairlines-between no-margin-bottom ">
												<ul>
													<li>
														<div class="item-content item-input">
															<div class="item-inner">
																<div class="item-input-wrap">
																	<input name="campus" type="text" id="picker-campus" placeholder="Your Campus" required />
																	<div class="item-input-info input-error-message"></div>
																</div>
															</div>
														</div>
													</li>
													<li>
														<div class="item-content item-input item-input-with-info">
															<div class="item-media">
																<i class="icon f7-icons ios-only">person</i>
																<i class="icon material-icons md-only">person</i>
															</div>
															<div class="item-inner">
																<div class="item-input-wrap">
																	<input id="studentnumberinput" type="text" name="number" placeholder="Student Number" required />
																	<div class="item-input-info input-error-message"></div>
																</div>
															</div>
														</div>
													</li>
												<!--	<li>
														<div class="item-content item-input item-input-with-info">
															<div class="item-media">
																<i class="icon f7-icons ios-only">email</i>
																<i class="icon material-icons md-only">mail</i>
															</div>
															<div class="item-inner">
																<div class="item-input-wrap">
																	<input id="emailinput" type="email" name="email" placeholder="Email" required />
																	<div class="item-input-info input-error-message"></div>
																</div>
															</div>
														</div>
													</li>
													-->
													<li>
														<div class="item-content item-input item-input-with-info">
															<div class="item-media">
																<i class="icon f7-icons ios-only">lock</i>
																<i class="icon material-icons md-only">lock</i>
															</div>
															<div class="item-inner">
																<div class="item-input-wrap">
																	<input id="passwordinput" type="password" name="password" placeholder="Efundi Password" required data-toggle="show-hide-password" />
																	<div class="item-input-info input-error-message"></div>
																</div>
															</div>
															<div class="item-media">
																<a href="#" @click="showHidePassword">
																	{{#if isPasswordVisible}}
																	<i class="icon f7-icons ios-only">eye_off</i>
																	<i class="icon material-icons md-only">visibility_off</i>
																	{{else}}
																	<i class="icon f7-icons ios-only">eye</i>
																	<i class="icon material-icons md-only">visibility</i>
																	{{/if}}
																</a>
															</div>
														</div>
													</li>
												</ul>
												<div class="block text-align-center">
													<button type="submit" class="button button-big button-fill" data-i18n="login">Log In</button>
													<p>By logging in, you agree to {{$root.config.app.title}}'s <a href="/screens/terms">Terms of Use</a>, <a href="/screens/privacy">Privacy Policy</a> and <a href="/screens/cookies">Cookie Policy</a>.</p>
												</div>
											</div>
										</form>

									</div>
								</div>
							</div>

						</div>

						<div class="swiper-slide walkthrough-slide">
							<div class="slide-title">Setting up your account for the first time</div>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-after">
										<div class="preloader color-multi"></div>
									</div>
								</div>
							</div>

						</div>

						<div class="swiper-slide walkthrough-slide">
							<div class="slide-title">Choose your Theme</div>
							<div class="slide-media">
								<ul class="colors-wrapper">
									<li>
										<label>
											<input type="radio" name="theme-color" value="red" />
											<i class="fa-stack fa-2x">
												<span class="fas fa-circle fa-stack-2x text-color-red"></span>
												<span class="fas fa-check fa-stack-1x fa-inverse"></span>
											</i>
											<span class="text-color-red" data-i18n="red">Red</span>
										</label>
									</li>
									<li>
										<label>
											<input type="radio" name="theme-color" value="green" />
											<i class="fa-stack fa-2x">
												<span class="fas fa-circle fa-stack-2x text-color-green"></span>
												<span class="fas fa-check fa-stack-1x fa-inverse"></span>
											</i>
											<span class="text-color-green" data-i18n="green">Green</span>
										</label>
									</li>
									<li>
										<label>
											<input type="radio" name="theme-color" value="blue" />
											<i class="fa-stack fa-2x">
												<span class="fas fa-circle fa-stack-2x text-color-blue"></span>
												<span class="fas fa-check fa-stack-1x fa-inverse"></span>
											</i>
											<span class="text-color-blue" data-i18n="blue">Blue</span>
										</label>
									</li>
									<li>
										<label>
											<input type="radio" name="theme-color" value="pink" />
											<i class="fa-stack fa-2x">
												<span class="fas fa-circle fa-stack-2x text-color-pink"></span>
												<span class="fas fa-check fa-stack-1x fa-inverse"></span>
											</i>
											<span class="text-color-pink" data-i18n="pink">Pink</span>
										</label>
									</li>
									<li>
										<label>
											<input type="radio" name="theme-color" value="yellow" />
											<i class="fa-stack fa-2x">
												<span class="fas fa-circle fa-stack-2x text-color-yellow"></span>
												<span class="fas fa-check fa-stack-1x fa-inverse"></span>
											</i>
											<span class="text-color-yellow" data-i18n="yellow">Yellow</span>
										</label>
									</li>
									<li>
										<label>
											<input type="radio" name="theme-color" value="orange" />
											<i class="fa-stack fa-2x">
												<span class="fas fa-circle fa-stack-2x text-color-orange"></span>
												<span class="fas fa-check fa-stack-1x fa-inverse"></span>
											</i>
											<span class="text-color-orange" data-i18n="orange">Orange</span>
										</label>
									</li>
									<li>
										<label>
											<input type="radio" name="theme-color" value="gray" />
											<i class="fa-stack fa-2x">
												<span class="fas fa-circle fa-stack-2x text-color-gray"></span>
												<span class="fas fa-check fa-stack-1x fa-inverse"></span>
											</i>
											<span class="text-color-gray" data-i18n="gray">Gray</span>
										</label>
									</li>
									<li>
										<label>
											<input type="radio" name="theme-color" value="black" />
											<i class="fa-stack fa-2x">
												<span class="fas fa-circle fa-stack-2x text-color-black"></span>
												<span class="fas fa-check fa-stack-1x fa-inverse"></span>
											</i>
											<span class="text-color-black" data-i18n="black">Black</span>
										</label>
									</li>
								</ul>
							</div>
							<div class="slide-actions">
								<button class="button button-big button-fill button-round" data-i18n="next" @click="openSlideExplore">Next</button>
							</div>
						</div>

						<div class="swiper-slide walkthrough-slide">
							<div class="slide-title">Explore Hive</div>
							<div class="slide-media">
								<img src="assets/custom/img/rocket.svg" width="128" alt="" />
							</div>
							<div class="slide-text">You're all set!</div>
							<div class="slide-actions">
								<button class="button button-big button-fill button-round" @click="loadNextScreen">Get Started</button>
							</div>
						</div>

					</div>

					<div class="swiper-pagination walkthrough-pagination"></div>

				</div>
			</div>

		</div>

	</div>
</template>

<style scoped>
	.walkthrough {
		height: 100%;
	}

	.walkthrough-container {
		height: 100%;
	}

	.walkthrough-wrapper {
		height: 100%;
	}

	.walkthrough-slide {
		align-items: stretch;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: flex-start;
		text-align: center;
	}

	.ios {{this}} .walkthrough-slide {
		padding: 35px 15px;
	}

	.md {{this}} .walkthrough-slide {
		padding: 32px 16px;
	}

	.walkthrough-slide .slide-title {
		font-size: 26px;
	}

	.ios {{this}} .walkthrough-slide .slide-media {
		margin: 35px 0;
	}

	.md {{this}} .walkthrough-slide .slide-media {
		margin: 32px 0;
	}

	.walkthrough-slide .slide-text {
		font-size: 16px;
	}

	.ios {{this}} .walkthrough-slide .slide-text {
		margin-bottom: 35px;
	}

	.md {{this}} .walkthrough-slide .slide-text {
		margin-bottom: 32px;
	}

	.walkthrough-slide .slide-actions {
		margin-top: auto;
	}

	.walkthrough-actions {
		bottom: 0;
		box-sizing: border-box;
		left: 0;
		position: absolute;
		width: 100%;
		z-index: 50;
	}

	.ios {{this}} .walkthrough-actions {
		margin-bottom: 35px;
		padding: 0 15px;
	}

	.md {{this}} .walkthrough-actions {
		margin-bottom: 32px;
		padding: 0 16px;
	}

	.walkthrough-pagination {
		bottom: 80px;
	}

	.flags-wrapper {
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align: center;
	}

	.flags-wrapper li {
		display: inline-block;
		margin: 6px 12px;
	}

	.flags-wrapper li label input {
		display: none;
	}

	.flags-wrapper li label img {
		filter: grayscale(100%);
		height: auto;
		width: 72px;
	}

	.flags-wrapper label span {
		display: block;
		margin: 16px 0;
	}

	.flags-wrapper li label input:checked ~ img {
		filter: grayscale(0);
	}

	.flags-wrapper li label input:checked ~ span {
		font-weight: bold;
	}

	.colors-wrapper {
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align: center;
	}

	.colors-wrapper li {
		display: inline-block;
		margin: 4px;
	}

	.colors-wrapper li label {
		display: block;
	}

	.colors-wrapper li label input {
		display: none;
	}

	.colors-wrapper li label i .fa-check {
		display: none;
	}

	.colors-wrapper li label > span {
		display: block;
		margin: 16px 0;
	}

	.colors-wrapper li label input:checked ~ i .fa-check {
		display: block;
	}

	.colors-wrapper li label input:checked ~ span {
		font-weight: bold;
	}
</style>

<script>
	return {
		data: function() {
			return {
				nextScreen: '/home',
				walkthrough: null,
				formValidator: null,
				isPasswordVisible: false
			}
		},
		methods: {
			initializePickerCampus: function() {
				var self = this;
				var picker = app.picker.create({
					inputEl: '#picker-campus',
					cols: [
						{
							textAlign: 'center',
							values: [ 'Potchefstroom', 'Vaal Triangle', 'Mafikeng']
						}
					]
				});
			},

			showHidePassword: function(event) {
				var self = this;
				var input = self.$('input[data-toggle=show-hide-password]');
				if (input.attr('type') == 'password') {
					input.attr('type', 'text');
					self.$setState({
						isPasswordVisible: true
					});
				}
				else {
					input.attr('type', 'password');
					self.$setState({
						isPasswordVisible: false
					});
				}
			},
			initializeFormValidator: function() {
				var self = this;
				self.formValidator = jQuery('form[name=signup]').validate({
					rules: {
						name: {
							required: true
						},
						campus: {
							required: true
						},
						number: {
							required: true
						},
						email: {
							required: true,
        			email:true
      			},
      			password: {
							required: true
						}
					},
    			messages: {
						name: {
							required: 'Please enter name.'
      			},
						campus: {
							required: 'Please enter campus.'
      			},
						number: {
							required: 'Please enter student number.'
      			},
						email: {
							required: 'Please enter email address.',
        			email: 'Please enter a valid email address.'
      			},
						password: {
							required: 'Please enter efundi password.'
      			}
					},
					submitHandler: function(form) {
						self.submitForm(form);
					}
				});
			},
			submitForm: function(form) {
				var self = this;
				var username=document.getElementById("studentnumberinput").value;
				var password=document.getElementById("passwordinput").value;
				var col =document.getElementById("picker-campus").value;
				credentials={"username":username,"password":password};
				localStorage.setItem('credentials', JSON.stringify(credentials));
				localStorage.setItem('campus', col);


				var pass=JSON.parse(localStorage.getItem('credentials')).password;
				var username=JSON.parse(localStorage.getItem('credentials')).username;
				app.preloader.show();
				app.request.get(`partials/scraper/proxy.php?a=${username}&b=${pass} `

				,function(login,response,data){
						// The full html of the authenticated page
						var login=JSON.parse(login);
						if(login.status==='true'){
							self.walkthrough.slideNext();
							var nwuAppData=JSON.parse(data.responseText);
							if(localStorage.getItem('studentBalance')==null){
								localStorage.setItem('studentBalance', nwuAppData.balance);
							}

							if(localStorage.getItem('examResults')==null){
								localStorage.setItem('examResults', JSON.stringify(nwuAppData.exam));
							}else{
							localStorage.removeItem('examResults');
							localStorage.setItem('examResults', JSON.stringify(nwuAppData.exam));
							}


					}else{
						alert('Could not login');
						document.getElementById('loginerror').innerHTML="Could not log in with information provided, make sure your information was entered correctly.";
					}
				});
				app.request.get(`partials/scraper/efundiproxy.php?a=${username}&b=${pass}`

				,function(login,response,data){
						// The full html of the authenticated page
						var login=JSON.parse(login);
						if(login[0].login==='true'){
							var nwuAppData=JSON.parse(data.responseText);
							localStorage.setItem("radio1","1")


						if(localStorage.getItem('subjects')==null){
								localStorage.setItem('subjects', JSON.stringify(nwuAppData[2].subjects));
							}else{
							localStorage.removeItem('subjects');
							localStorage.setItem('subjects', JSON.stringify(nwuAppData[2].subjects));
							}
						if(localStorage.getItem('assignments')==null){
								localStorage.setItem('assignments', JSON.stringify(nwuAppData[1].assignments));
							}else{
							localStorage.removeItem('assignments');
							localStorage.setItem('assignments', JSON.stringify(nwuAppData[1].assignments));
							}
						if(localStorage.getItem('announcements')==null){
								localStorage.setItem('announcements', JSON.stringify(nwuAppData[3].announcements));
							}else{
							localStorage.removeItem('announcements');
							localStorage.setItem('announcements', JSON.stringify(nwuAppData[3].announcements));
							}
						if(localStorage.getItem('user')==null){
								localStorage.setItem('user', JSON.stringify(nwuAppData[4].user));
							}else{
							localStorage.removeItem('user');
							localStorage.setItem('user', JSON.stringify(nwuAppData[4].user));
							}
							defaultsubjectlist();
							app.preloader.hide();
							self.openSlideTheme();
					}
				});
			},
			checkmarkCurrentLanguage: function() {
				var self = this;
				var currentLanguage = app.utils.i18n.getLanguage();
				self.$('[name=language][value=' + currentLanguage.lang + ']').prop('checked', true);
			},
			checkmarkCurrentTheme: function() {
				var self = this;
				var currentThemeColor = app.utils.theme.getColor();
				self.$('[name=theme-color][value=' + currentThemeColor + ']').prop('checked', true);
			},
			initializeWalkthrough: function() {
				var self = this;
				self.walkthrough = app.swiper.create('.walkthrough-container', {
					allowTouchMove: false,
					pagination: {
						el: '.walkthrough-pagination',
						type: 'progressbar'
					}
				});
			},
			addtohome: function() {

				//if(localStorage.getItem("addtohomescreen")=="true"){   change when on server
				if(1){
				this.openSlideLogin();
			}else{
				app.a2hs.prompt();
				app.a2hs.userChoice
					.then(function(choice) {
					if (choice.outcome == 'accepted') {
						localStorage.setItem("addtohomescreen","true");
						this.openSlideLanguage();
						app.toast.show({
							text: 'Yaay! Added to Home Screen',
							position:'bottom',
							cssClass: 'toast-round bg-color-green'
						});

					}
					else {
						app.toast.show({
							text: 'To use this app you need to add it to your home screen',
							position:'bottom',
							cssClass: 'toast-round bg-color-red'
						});
						this.addtohome();
					}
					app.a2hs = null;

				});
}
			},
			openSlideLogin: function() {
							var self = this;
							self.walkthrough.slideNext();

				}


			,
			openSlideTheme: function() {
				var self = this;
				createDatabaseStudent("timetabledefault");
				createDatabaseStudent("timetablecustom1");
				createDatabaseStudent("timetablecustom2");
				alasql.promise('DETACH DATABASE student')
				.then(function() {
					console.log("detached");
				})
				.catch(function(error) {
					console.log(error);
				});
				self.walkthrough.slideNext();
				self.$('[name=theme-color]').on('change', function() {
					app.utils.theme.setColor(this.value);
				});
			},
			openSlideExplore: function() {
				var self = this;
				self.walkthrough.slideNext();
			},
			loadNextScreen: function() {
				var self = this;
				localStorage.setItem('Hive_OldUser', 'true');
				app.views.current.router.navigate(self.nextScreen);
			}
		},
		on: {
			pageInit: function() {
				var self = this;
				self.checkmarkCurrentTheme();
				self.initializeWalkthrough();
				self.initializeFormValidator();
				self.initializePickerCampus();
			}
		}
	}
</script>
