<template>
	<div class="page">

		<div class="navbar">
			<div class="navbar-inner">
				<div class="left">
					<a href="#" class="link back">
						<i class="icon icon-back"></i>
						<span class="ios-only" data-i18n="back">Back</span>
					</a>
				</div>
				<div class="title md-only" data-i18n="settings">Settings</div>
				<div class="subnavbar ios-only">
					<div class="subnavbar-inner">
						<div class="title" data-i18n="settings">Settings</div>
					</div>
				</div>
			</div>
		</div>

		<div class="page-content">

		<!--<div class="block-title" data-i18n="account">Account</div>
			<div class="list inset">
				<ul>
					<li>
						<a href="#" class="item-link">
							<div class="item-content">
								<div class="item-media">
									<i class="fa-stack">
										<span class="fas fa-square fa-stack-2x text-color-blue ios-only"></span>
										<span class="fas fa-circle fa-stack-2x text-color-blue md-only"></span>
										<span class="fas fa-user fa-stack-1x fa-inverse"></span>
									</i>
								</div>
								<div class="item-inner">
									<div class="item-title" data-i18n="profile">Profile</div>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="#" class="item-link">
							<div class="item-content">
								<div class="item-media">
									<i class="fa-stack">
										<span class="fas fa-square fa-stack-2x text-color-green ios-only"></span>
										<span class="fas fa-circle fa-stack-2x text-color-green md-only"></span>
										<span class="fas fa-credit-card fa-stack-1x fa-inverse"></span>
									</i>
								</div>
								<div class="item-inner">
									<div class="item-title" data-i18n="payment">Payment</div>
								</div>
							</div>
						</a>
					</li>
				</ul>
			</div> -->

			<div class="block-title" data-i18n="app-title">{{$root.config.app.title}}</div>
			<div class="list inset">
				<ul>
					<li>
						<div class="item-content">
							<div class="item-media">
								<i class="fa-stack">
									<span class="fas fa-square fa-stack-2x text-color-blue ios-only"></span>
									<span class="fas fa-circle fa-stack-2x text-color-blue md-only"></span>
									<span class="fas fa-info fa-stack-1x fa-inverse"></span>
								</i>
							</div>

							<div class="item-inner">
								<div class="item-title" data-i18n="version">Version</div>
								<div class="item-after">{{appVersion}}</div>
							</div>

						</div>
					</li>
					<!--<li>
						<a href="#" class="item-link">
							<div class="item-content">
								<div class="item-media">
									<i class="fa-stack">
										<span class="fas fa-square fa-stack-2x text-color-yellow ios-only"></span>
										<span class="fas fa-circle fa-stack-2x text-color-yellow md-only"></span>
										<span class="fas fa-star fa-stack-1x fa-inverse"></span>
									</i>
								</div>
								<div class="item-inner">
									<div class="item-title" data-i18n="rate-app">Rate App</div>
								</div>
							</div>
						</a>
					</li>-->
					<li>
						<a href="/themes" class="item-link">
							<div class="item-content">
								<div class="item-media">
									<i class="fa-stack">
										<span class="fas fa-square fa-stack-2x text-color-yellow ios-only"></span>
										<span class="fas fa-circle fa-stack-2x text-color-yellow md-only"></span>
										<span class="fas fa-palette fa-stack-1x fa-inverse"></span>
									</i>
								</div>
								<div class="item-inner">
									<div class="item-title" data-i18n="change-theme">Change Theme</div>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a  class="item-link" @click="explore">
							<div class="item-content">
								<div class="item-media">
									<i class="fa-stack">
										<span class="fas fa-square fa-stack-2x text-color-green ios-only"></span>
										<span class="fas fa-circle fa-stack-2x text-color-green md-only"></span>
										<span class="fas fa-share-alt fa-stack-1x fa-inverse"></span>
									</i>
								</div>
								<div class="item-inner">
									<div class="item-title" data-i18n="share-app">Share App</div>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="/screens/feedback" class="item-link">
							<div class="item-content">
								<div class="item-media">
									<i class="fa-stack">
										<span class="fas fa-square fa-stack-2x text-color-pink ios-only"></span>
										<span class="fas fa-circle fa-stack-2x text-color-pink md-only"></span>
										<span class="fas fa-comment-dots fa-stack-1x fa-inverse"></span>
									</i>
								</div>
								<div class="item-inner">
									<div class="item-title">Leave Feedback</div>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="https://www.facebook.com/Hive-App-108286077428039/" target="_blank" class="item-link external">
							<div class="item-content">
								<div class="item-media">
									<i class="fa-stack">
										<span class="fas fa-square fa-stack-2x brand-color-facebook ios-only"></span>
										<span class="fas fa-circle fa-stack-2x brand-color-facebook md-only"></span>
										<span class="fab fa-facebook-f fa-stack-1x fa-inverse"></span>
									</i>
								</div>
								<div class="item-inner">
									<div class="item-title">Like us on Facebook</div>
								</div>
							</div>
						</a>
					</li>
				</ul>
			</div>


				<div class="block-title" data-i18n="help">Help</div>
				<div class="list inset">
					<ul>
						<li>
							<a href="/screens/about" class="item-link">
								<div class="item-content">
									<div class="item-inner">
										<div class="item-title" data-i18n="about">About</div>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="/screens/faq" class="item-link">
								<div class="item-content">
									<div class="item-inner">
										<div class="item-title" data-i18n="faq">FAQ</div>
									</div>
								</div>
							</a>
						</li>

						<li>
							<a href="/screens/contact-us" class="item-link">
								<div class="item-content">
									<div class="item-inner">
										<div class="item-title" data-i18n="contact-us">Contact Us</div>
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>

				<div class="block-title" data-i18n="legal">Legal</div>
				<div class="list inset">
					<ul>
						<li>
							<a href="/screens/terms" class="item-link">
								<div class="item-content">
									<div class="item-inner">
										<div class="item-title" data-i18n="terms-of-use">Terms of Use</div>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="/screens/privacy" class="item-link">
								<div class="item-content">
									<div class="item-inner">
										<div class="item-title" data-i18n="privacy-policy">Privacy Policy</div>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="/screens/cookies" class="item-link">
								<div class="item-content">
									<div class="item-inner">
										<div class="item-title" data-i18n="cookie-policy">Cookie Policy</div>
									</div>
								</div>
							</a>
						</li>
						<!--<li>
							<a href="#" class="item-link">
								<div class="item-content">
									<div class="item-inner">
										<div class="item-title" data-i18n="acknowledgements">Acknowledgements</div>
									</div>
								</div>
							</a>
						</li>-->
					</ul>
				</div>











		</div>
		<div class="popup popup-tablet-fullscreen popup-explore">
			<div class="view">
				<div class="page">

					<div class="navbar">
						<div class="navbar-inner">
							<div class="left ios-only">
								<a href="#" class="link popup-close">
									<span data-i18n="close">Close</span>
								</a>
							</div>
							<div class="title" data-i18n="web-share-api">Share App</div>
							<div class="right md-only">
								<a href="#" class="link icon-only popup-close">
									<i class="icon material-icons">close</i>
								</a>
							</div>
						</div>
					</div>

					<div class="page-content">



						<form>
							<div class="list no-hairlines no-hairlines-between">
								<ul>
									<li>
										<div class="item-content item-input item-input-with-clear-button">
											<div class="item-inner">
												<div class="item-title item-label">Title</div>
												<div class="item-input-wrap">
													<input type="text" name="title" value="{{$root.config.app.title}}" />
													<span class="input-clear-button"></span>
												</div>
											</div>
										</div>
									</li>
									<li>
										<div class="item-content item-input item-input-with-clear-button">
											<div class="item-inner">
												<div class="item-title item-label">Text</div>
												<div class="item-input-wrap">
													<textarea class="resizable" name="text">{{$root.config.app.title}} - {{$root.config.app.tagline}}</textarea>
													<span class="input-clear-button"></span>
												</div>
											</div>
										</div>
									</li>
									<li>
										<div class="item-content item-input item-input-with-clear-button">
											<div class="item-inner">
												<div class="item-title item-label">URL</div>
												<div class="item-input-wrap">
													<input type="url" name="url" value="{{$root.config.envato.itemUrl}}" />
													<span class="input-clear-button"></span>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="block">
								<button type="submit" class="button button-big button-fill">Share</button>
							</div>
						</form>

						<div class="note note-warning text-align-center">
							<p>If you leave all the fields blank, then URL of the current page will be shared.</p>
						</div>

					</div>

				</div>
			</div>
		</div>

	</div>
</template>

<script>
	return {
		data: function() {
			return {
				appVersion: (function() {
					if (app.device.cordova && BuildInfo) {
						return BuildInfo.version;
					}
					else {
						return app.version;
					}
				})()
			}
		},
		methods: {
		showInfoAlertDialog: function() {
			var self = this;
			var dialog = app.dialog.create({
				content: '<div class="block no-margin margin-top text-align-center"><i class="fa-stack fa-3x"><span class="fas fa-stack-2x fa-circle text-color-green"></span><span class="fas fa-stack-1x fa-inverse fa-check"></span></i><p>copy and share URL: studenthive.app</p></div>',
				buttons: [
					{
						text: 'Done',
						bold: true,
						color: 'green'
					}
				]
			});
			dialog.open();
		},
		explore: function() {
			console.log("here");
			var self = this;
			var popup = app.popup.create({
				el: '.popup-explore',
				on: {
					opened: function() {
						self.$('form').on('submit', self.onFormSubmit);
					},
					closed: function() {
						self.$('form').off('submit', self.onFormSubmit);
					}
				}
			});
			popup.open();
		},
		onFormSubmit: function(event) {
			var self = this;
			event.preventDefault();
			self.share(app.form.convertToData(event.target));
		},
		share: function(data) {
			var self = this;
			navigator.share({
				title: data.title,
				text: data.text,
				url: data.url
			})
			.then(function() {
				app.toast.show({
					text: 'Shared Successfully',
					position: 'bottom',
					cssClass: 'toast-round bg-color-green'
				});
			})
			.catch(function(error) {
				app.toast.show({
					text: error.message,
					position: 'bottom',
					cssClass: 'toast-round bg-color-red'
				});
			});
		}
	}
}
</script>
