
<template>
	<div class="page no-swipeback">

		<div class="navbar">
			<div class="navbar-inner">
				{{#js_if "app.data.config.theme.navigation == 'hamburger'"}}
				<div class="left">
					<a href="#" class="link icon-only panel-open" data-panel="left">
						<i class="hamburger hamburger--boring">
							<span class="hamburger-box">
								<span class="hamburger-inner"></span>
							</span>
						</i>
					</a>
				</div>
				{{/js_if}}
				<div class="title">
					<img class="ios-only theme-light-only" src="assets/custom/img/logo-text-black.svg" height="24" alt="" />
					<img class="ios-only theme-dark-only" src="assets/custom/img/logo-text-white.svg" height="24" alt="" />
					<img class="md-only" src="assets/custom/img/logo-text-white.svg" height="24" alt="" />
				</div>
				<div class="right">
					<a id="assignmentduetoday"  data-popup=".popup" class="link icon-only popup-open">
						<i class="icon f7-icons ios-only">bell<span class="badge color-red">5</span></i>
						<i class="icon material-icons md-only">notifications<span class="badge color-red">5</span></i>
					</a>
					<a href="#" class="link icon-only" @click="openThemeSelector">
						<i class="icon material-icons">palette</i>
					</a>
				</div>


				<div class="subnavbar" >
					<div class="subnavbar-inner">
						<div class="segmented segmented-raised">
						<a href="#tab-profile" class="button tab-link tab-link-active">
							<i class="icon f7-icons ios-only">data</i>
							<i class="icon material-icons md-only">dashboard</i>
							<span class="tabbar-label">Dashboard</span>
						</a>
						<a href="#tab-announcements" class="button tab-link">
							<i class="icon f7-icons ios-only">alert</i>
							<i class="icon material-icons md-only">announcement</i>
							<span class="tabbar-label">Announ</span>
						</a>
						<a href="#tab-assignments" class="button tab-link">
							<i class="icon f7-icons ios-only">document_text</i>
							<i class="icon material-icons md-only">assignment</i>
							<span class="tabbar-label">Assign</span>
						</a>
						<a href="#tab-tables" class="button tab-link">
							<i class="icon f7-icons ios-only">calendar</i>
							<i class="icon material-icons md-only">date_range</i>
							<span class="tabbar-label">Exam</span>
						</a>
						<a href="#tab-custom1" class="button tab-link">
							<i class="icon f7-icons ios-only">settings</i>
							<i class="icon material-icons md-only">settings</i>
							<span class="custom1">Settings</span>
						</a>
						</div>
					</div>
				</div>
			</div>
		</div>



		<div class="popup popup-tablet-fullscreen">
			<div class="view">
				<div class="page">

					<div class="navbar">
						<div class="navbar-inner">
							<div class="left ios-only">
								<a href="#" class="link popup-close">
									<span data-i18n="close">Close</span>
								</a>
							</div>
							<div class="title">Assignments Due Today</div>
							<div class="right md-only">
								<a href="#" class="link icon-only popup-close">
									<i class="icon material-icons md-only">close</i>
								</a>
							</div>
						</div>
					</div>

					<div class="page-content">

						<div  class="block">


								<div class="list custom-list">
									<div class="block-title">Assignments</div>
												<ul id="assignmentsduetodaypopup">


												</ul>
								</div>
						</div>

					</div>

				</div>
			</div>
		</div>


			<div class="tabs-swipeable-wrap">
				<div class="tabs">

					<div id="tab-profile" class="page-content tab tab-active" >

							<!__ start of content inside tab  __>

							<div class="block block-greet">
								<div class="greet-avatar">
									<a href='/academic/image'>
									<img id="profilepic" class="img-circle" src="assets/custom/img/user.svg" height="72" width="72" alt="" />
									</a>
								</div>
								<div class="greet-text">
									<div class="greet-message">Welcome</div>
									<div id='username' class="greet-username">student</div>
									<div id="date"></div>
								</div>
								<div class="greet-icon">
									<img src="assets/custom/img/sun.svg" height="72" alt="" />
								</div>
							</div>

							<div class="block block-stats">
								<div class="row">

									<div class="col-100 tablet-50 margin-top">
										<a href="/academic/examresults">
										<div class="card card-stats" style="background-image: linear-gradient(135deg, #5F72BD 0%, #9B23EA 100%);">
											<div class="card-content card-content-padding">
												<div class="card-stats-icon">
													<i class="fa-stack fa-2x">
														<span class="fas fa-circle fa-stack-2x"></span>
														<span class="fas fa-award fa-stack-1x fa-inverse"></span>
													</i>
												</div>
												<div class="card-stats-info">

													<div class="card-stats-value">Grades</div>
												</div>
											</div>
										</div>
										</a>
									</div>

									<div class="col-100 tablet-50 margin-top">
										<div class="card card-stats" style="background-image: linear-gradient(135deg, #FE5196 0%, #F77062 100%);">
											<div class="card-content card-content-padding">
												<div class="card-stats-icon">
													<i class="fa-stack fa-2x">
														<span class="fas fa-circle fa-stack-2x"></span>
														<span class="fas fa-wallet fa-stack-1x fa-inverse"></span>
													</i>
												</div>
												<div class="card-stats-info">
													<div class="card-stats-label">Student Card Balance</div>
													<div id= "studentbalancedisplay" class="card-stats-value">


													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-100 margin-top">
										<div class="card card-stats" style="background-image: linear-gradient(135deg, #04BEFE 0%, #4481EB 100%);">
											<div class="card-content card-content-padding">
												<div class="card-stats-icon">
													<i class="fa-stack fa-2x">
														<span class="fas fa-circle fa-stack-2x"></span>
														<span class="fas fa-chalkboard-teacher fa-stack-1x fa-inverse"></span>
													</i>
												</div>
												<div class="card-stats-info">
													<div class="card-stats-label title">Assignments Still Due</div>
													<div id="assignmentsdue" class="card-stats-value"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="card" width="100%">


								<div class="block-title">Timetable</div>

									<table class="time-table" id="table1" >

										<thead>
											<tr>
												<th class="label-cell">Time</th>
												<th class="numeric-cell">M</th>
												<th class="numeric-cell">T</th>
												<th class="numeric-cell">W</th>
												<th class="numeric-cell">T</th>
												<th class="numeric-cell">F</th>
											</tr>
										</thead>
										<tbody id="timetable">





										</tbody >
									</table>

								</div>

							<div class="block block-vitals">
								<div class="row">
									<div class="col">
										<a href="http://efundi.nwu.ac.za/portal/" target="_blank" class="external">
										<div class="card card-vitals" style="background-image: linear-gradient(135deg, #F59F00 0%, #FCC419 100%);">
											<div class="card-content card-content-padding">
												<i class="material-icons-outlined text-color-white">local_library</i>
												<span>Efundi</span>
											</div>
										</div>
										</a>
									</div>
									<div class="col">
										<a href="/academic/emergency" >
										<div class="card card-vitals" style="background-image: linear-gradient(135deg, #1C7ED6 0%, #339AF0 100%);">
											<div class="card-content card-content-padding">
												<i class="material-icons-outlined text-color-white">priority_high</i>
												<span>Emergency</span>
											</div>
										</div>
										</a>
									</div>
									<div class="col">
										<div class="card card-vitals" style="background-image: linear-gradient(135deg, #74B816 0%, #94D82D 100%);" onclick="updatelogin();">
											<div class="card-content card-content-padding">
												<i class="material-icons-outlined text-color-white">exit_to_app</i>
												<span>Password</span>
											</div>
										</div>
									</div>
								</div>
							</div>

					</div>

					<div id="tab-announcements" class="page-content tab">
						<div class="list custom-list">
							<div class="block-title">Announcements</div>

											<ul id="announlist">

<!--call function setAnnouncements in academic.js -->


									</ul>

						</div>
					</div>

					<div id="tab-assignments" class="page-content tab">
						<div class="card card-outline">
							<div class="list custom-list">
								<div class="block-title">Assignments Due Today</div>
									<div  id="assignDueToday">

												<!-- script-->


									</div>

							</div>
						</div>
						<div class="card card-outline">
							<div class="list custom-list">
								<div class="block-title">Assignments Still Due</div>
									<div  id="assignStillDue">

<!-- script-->

									</div>
							</div>
						</div>
						<div class="card card-outline">
							<div class="list custom-list">
								<div class="block-title">Assignments Expired/Completed</div>
								<div id="assignDone">
									<!-- script-->
									</div>





							</div>
						</div>



					</div>

					<div id="tab-tables" class="page-content tab" >


						<div class="card" width="100%">

							<div class="block-title">Exam Timeline</div>
							<div class="block block-strong">
								<div id="examtimeline" class="timeline timeline-vertical">


								</div>
							</div>


							</div>


					</div>
					<div id="tab-custom1" class="page-content tab" >
						<div class="block-title" data-i18n="help">Help</div>
						<div class="list inset">
							<ul>
								<li>
									<a href="/screens/about" class="item-link">
										<div class="item-content">
											<div class="item-inner">
												<div class="item-title" data-i18n="about">About</div>
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="/screens/faq" class="item-link">
										<div class="item-content">
											<div class="item-inner">
												<div class="item-title" data-i18n="faq">FAQ</div>
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="/academic/subjects" class="item-link">
										<div class="item-content">
											<div class="item-inner">
												<div class="item-title" data-i18n="subjects">Change Subjects</div>
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="/screens/contact-us" class="item-link">
										<div class="item-content">
											<div class="item-inner">
												<div class="item-title" data-i18n="contact-us">Contact Us</div>
											</div>
										</div>
									</a>
								</li>
							</ul>
						</div>



						<div class="block-title" data-i18n="app-title">{{$root.config.app.title}}</div>
						<div class="list inset">
							<ul>
								<li>
									<div class="item-content">
										<div class="item-media">
											<i class="fa-stack">
												<span class="fas fa-square fa-stack-2x text-color-blue ios-only"></span>
												<span class="fas fa-circle fa-stack-2x text-color-blue md-only"></span>
												<span class="fas fa-info fa-stack-1x fa-inverse"></span>
											</i>
										</div>
										<div class="item-inner">
											<div class="item-title" data-i18n="version">Version</div>
											<div class="item-after">{{appVersion}}</div>
										</div>
									</div>
								</li>
								<li>
									<a href="#" class="item-link">
										<div class="item-content">
											<div class="item-media">
												<i class="fa-stack">
													<span class="fas fa-square fa-stack-2x text-color-yellow ios-only"></span>
													<span class="fas fa-circle fa-stack-2x text-color-yellow md-only"></span>
													<span class="fas fa-star fa-stack-1x fa-inverse"></span>
												</i>
											</div>
											<div class="item-inner">
												<div class="item-title" data-i18n="rate-app">Rate App</div>
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="#" class="item-link">
										<div class="item-content">
											<div class="item-media">
												<i class="fa-stack">
													<span class="fas fa-square fa-stack-2x text-color-green ios-only"></span>
													<span class="fas fa-circle fa-stack-2x text-color-green md-only"></span>
													<span class="fas fa-share-alt fa-stack-1x fa-inverse"></span>
												</i>
											</div>
											<div class="item-inner">
												<div class="item-title" data-i18n="share-app">Share App</div>
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="/screens/feedback" class="item-link">
										<div class="item-content">
											<div class="item-media">
												<i class="fa-stack">
													<span class="fas fa-square fa-stack-2x text-color-pink ios-only"></span>
													<span class="fas fa-circle fa-stack-2x text-color-pink md-only"></span>
													<span class="fas fa-comment-dots fa-stack-1x fa-inverse"></span>
												</i>
											</div>
											<div class="item-inner">
												<div class="item-title">Leave Feedback</div>
											</div>
										</div>
									</a>
								</li>
							</ul>
						</div>

						<div class="block-title" data-i18n="legal">Legal</div>
						<div class="list inset">
							<ul>
								<li>
									<a href="/screens/terms" class="item-link">
										<div class="item-content">
											<div class="item-inner">
												<div class="item-title" data-i18n="terms-of-use">Terms of Use</div>
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="/screens/privacy" class="item-link">
										<div class="item-content">
											<div class="item-inner">
												<div class="item-title" data-i18n="privacy-policy">Privacy Policy</div>
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="/screens/cookies" class="item-link">
										<div class="item-content">
											<div class="item-inner">
												<div class="item-title" data-i18n="cookie-policy">Cookie Policy</div>
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="#" class="item-link">
										<div class="item-content">
											<div class="item-inner">
												<div class="item-title" data-i18n="acknowledgements">Acknowledgements</div>
											</div>
										</div>
									</a>
								</li>
							</ul>
						</div>



					</div>
				</div>
			</div>





	</div>
</template>

<style scoped>
	.block-greet {
		align-items: center;
		display: flex;
		justify-content: flex-start;
	}

	.greet-text {
		padding: 0 16px;
	}

	.greet-message {
		font-size: 20px;
		line-height: 1.2;
	}

	.greet-username {
		font-size: 32px;
		font-weight: bold;
		line-height: 1.2;
	}

	.greet-icon {
		margin-left: auto;
		margin-right: 0;
	}

	html[dir=rtl] {{this}} .greet-icon {
		margin-left: 0;
		margin-right: auto;
	}

	.card-stats {
		border: none;
		box-shadow: none;
		color: #FFFFFF;
		margin: 0;
	}

	.card-stats .card-content {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	.card-stats-icon i {
		width: 2em;
	}

	.card-stats-icon .fa-circle {
		color: rgba(0, 0, 0, 0.25);
	}

	.card-stats-info {
		text-align: right;
	}

	html[dir=rtl] {{this}} .card-stats-info {
		text-align: left;
	}

	.card-stats-label {
		font-size: 15px;
	}

	.card-stats-value {
		font-size: 32px;
		font-weight: bold;
		line-height: 1;
	}

	.card-stats-value .progressbar {
		height: 8px;
		margin-top: 8px;
		width: 144px;
	}

	.card-vitals {
		border: none;
		box-shadow: none;
		color: #FFFFFF;
		margin: 0;
	}

	.card-vitals .card-content {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.card-vitals i {
		font-size: 48px;
	}

	.card-vitals span {
		font-size: 16px;
	}

	.card-chart {
		border: none;
		box-shadow: none;
		margin: 0;
	}

	.card-chart .chart {
		margin: 0 auto;
		width: 100%;
	}

}
.time-table {
	background:theme-color;
  width: 100%;
  border-collapse: collapse;
}


.cell {
    width: 50px;
    min-height: 40px;
    border: 1px solid rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-word;
    padding: 3px;
    font-size: 12px;
    flex-direction: column;
    cursor: pointer;
    position: relative;
		overflow: hidden;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
}



</style>

<script>



	return {

		methods: {
			openThemeSelector: function() {
				var self = this;
				var themeSelector = app.actions.create({
					grid: true,
					buttons: [
						{
							label: true,
							text: i18next.t('change-theme')
						},
						{
							icon: '<i class="fas fa-3x fa-circle text-color-red"></i>',
							text: i18next.t('red'),
							onClick: function() {
								app.utils.theme.setColor('red');
							}
						},
						{
							icon: '<i class="fas fa-3x fa-circle text-color-green"></i>',
							text: i18next.t('green'),
							onClick: function() {
								app.utils.theme.setColor('green');
							}
						},
						{
							icon: '<i class="fas fa-3x fa-circle text-color-blue"></i>',
							text: i18next.t('blue'),
							onClick: function() {
								app.utils.theme.setColor('blue');
							}
						},
						{
							icon: '<i class="fas fa-3x fa-circle text-color-pink"></i>',
							text: i18next.t('pink'),
							onClick: function() {
								app.utils.theme.setColor('pink');
							}
						},
						{
							icon: '<i class="fas fa-3x fa-circle text-color-yellow"></i>',
							text: i18next.t('yellow'),
							onClick: function() {
								app.utils.theme.setColor('yellow');
							}
						},
						{
							icon: '<i class="fas fa-3x fa-circle text-color-orange"></i>',
							text: i18next.t('orange'),
							onClick: function() {
								app.utils.theme.setColor('orange');
							}
						},
						{
							icon: '<i class="fas fa-3x fa-circle text-color-gray"></i>',
							text: i18next.t('gray'),
							onClick: function() {
								app.utils.theme.setColor('gray');
							}
						},
						{
							icon: '<i class="fas fa-3x fa-circle text-color-black"></i>',
							text: i18next.t('black'),
							onClick: function() {
								app.utils.theme.setColor('black');
							}
						}
					]
				});
				themeSelector.open();

		},

			loadData: function() {
				var self = this;

						if(localStorage.getItem('profileimage')!=null){
					document.getElementById("profilepic").src=JSON.parse(localStorage.getItem('profileimage'));
				}
				var userName=JSON.parse(localStorage.getItem('user'));
				document.getElementById("username").innerHTML = String(userName[1]).split("Name")[1].trim();

				app.request.json(
					'assets/custom/dataset/timetable.json',
					function(data) {
						if (data) {
							self.$setState({
								articles: data
							});
						}
					}
				);

			},

			greetBar: function() {
				var self = this;
				var animation = anime({
					targets: ['.greet-icon img'],
					duration: 10000,
					easing: 'linear',
					loop: true,
					rotate: 360
				});
				startTime();
				function startTime() {
				    var today = new Date();
				    var hr = today.getHours();
				    var min = today.getMinutes();
				    var sec = today.getSeconds();
				    ap = (hr < 12) ? "<span>AM</span>" : "<span>PM</span>";
				    hr = (hr == 0) ? 12 : hr;
				    hr = (hr > 12) ? hr - 12 : hr;
				    //Add a zero in front of numbers<10
				    hr = checkTime(hr);
				    min = checkTime(min);
				    sec = checkTime(sec);
				    //document.getElementById("clock").innerHTML = hr + ":" + min + ":" + sec + " " + ap;

				    var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
				    var days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
				    var curWeekDay = days[today.getDay()];
				    var curDay = today.getDate();
				    var curMonth = months[today.getMonth()];
				    var curYear = today.getFullYear();
				    var date = curWeekDay+", "+curDay+" "+curMonth;
				    document.getElementById("date").innerHTML = date;

				    var time = setTimeout(function(){ startTime() }, 500);
				}
				function checkTime(i) {
				    if (i < 10) {
				        i = "0" + i;
				    }
				    return i;
				}
			},
			renderChart: function() {
				var self = this;
				var config = {
					type: 'horizontalBar',
					data: {
						labels: ['January', 'February', 'March', 'April', 'May', 'June'],
						datasets: [
							{
								label: 'Dataset',
								backgroundColor: window.config.colors.oc.green4,
								borderColor: window.config.colors.oc.green6,
								borderWidth: 1,
								data: [80, -5, 25, 50, -15, 75]
							}
						]
					},
					options: {
						responsive: false
					}
				};
				var chart = new Chart(document.getElementById('chart').getContext('2d'), config);
			}
		},
		on: {
			pageInit: function() {
				var self = this;
				self.greetBar();
				//self.renderChart();
					scrape();
					defaultsubjectlist();
					self.loadData();
					dashtablegen();
					assignmentsDue();
					examtimeline();
					setBalance();
					setAnnouncements();




			}
		},
		data: function() {
			return {
				appVersion: (function() {
					if (app.device.cordova && BuildInfo) {
						return BuildInfo.version;
					}
					else {
						return app.version;
					}
				})(),
				articles: null,
			}
		}

	}

</script>
