<template>
	<div class="page no-toolbar">

		<div class="navbar">
			<div class="navbar-inner">
				<div class="left">
					<a href="#" class="link back">
						<i class="icon icon-back"></i>
						<span class="ios-only" data-i18n="Assignment">Assignment</span>
					</a>
				</div>
				<div class="title md-only" data-i18n="Assignment">Assignment</div>
				<div class="subnavbar ios-only">
					<div class="subnavbar-inner">
						<div class="title" data-i18n="Assignment">Assignment</div>
					</div>
				</div>
			</div>
		</div>
		<div class="page-content">



			<div id="heading" class="block inset">

			</div>
			<div id="infomessage" class="block inset">

			</div>




		</div>

	</div>
</template>
